<div class="container mt-5" style="background-color: #ff69b4">
  <div *ngIf="!registerMode" class="text-center">
    <h1>Welcome to Our Dating App</h1>
    <p class="lead">Find the Love of Your Life!</p>

    <p class="mb-4">Join us today and discover your perfect match.</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">
        Get Started
      </button>
      <button class="btn btn-secondary btn-lg me-2">Learn More</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
